{% extends "main/base.html" %}

{% block title %}{{item.name}}{% endblock title %}

{% block content %}



<div class="container mx-auto p-6">
    <div class="md:flex md:items-start md:space-x-8">
        <!-- Product Image -->
        <div class="md:w-1/2 lg:w-1/3">
            <img class="rounded-lg shadow-lg w-full h-100 object-cover" src="{{item.image.url}}" alt="Product Image">

        </div>

        <!-- Product Details -->
        <div class="md:w-1/2 lg:w-2/3 mt-4 md:mt-0 bg-gray-200 px-4 py-4 rounded-lg shadow-lg">
            
            <h2 class="text-4xl font-bold">{{item.name}}</h2>
            <p class="text-gray-700 text-base">${{item.price}}</p>

            <p class="text-gray-600 mt-2">Seller <span class="font-semibold">{{item.created_by.username}}</span></p>
            <p class="text-gray-600">Category: <span class="font-semibold">{{item.category.name}}</span></p>
            <div class="mt-4 mb-6">
                <p class="text-gray-700 text-base mb-4">Detailed description</p>
                <p>
                    {{item.description}}
                </p>
            </div>
            {% if request.user == item.created_by %}

                <a href='{% url "item:edit" item.id %}'>
                <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Edit Item
                </button>
                    </a>


                    <a href='{% url "item:delete" item.id %}'>
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Delete Item
                    </button>
                        </a>
            {% else %}
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Contact Seller
                    </button>
            {% endif %}
        </div>
    </div>



    <h2 class="text-2xl font-bold mt-4 mb-2 text-center text-gray-700">Related items</h2>
    <div class="grid md:grid-cols-3 gap-4 mt-10">
        <!-- Product Card  -->
        

    {% for item in related_items %}
    <a href='{% url "item:detail" item.id %}'>
        <div class="max-w-sm rounded overflow-hidden shadow-lg cursor-pointer hover:shadow-2xl transition duration-300 ease-in-out">
            <img class="w-full h-40 object-cover" src="{{item.image.url}}" alt="Product Image">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{item.name}}</div>
                <p class="text-gray-700 text-base">${{item.price}}</p>
            </div>
        </div>
    </a>
        {% endfor %}
        
    </div>
</div>


{% endblock content %}